html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: #F3F1ED;
}

main {
    padding-top: 5px;
    padding-bottom: 60px;
}

footer {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

#conditions div {
    display: inline;
}
#conditions h2 {
    display: inline;
}

.turn_name img {
    display: none;
    vertical-align: middle;
    height: 1.17em;
    margin-left: 2px;
}
.turn_name h3 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
.spell_level {
    float: right;
}

h4 {
    display: inline;
}

hr {
    display: none;
}

#turns {
    display: grid;
    /* grid property set in main.js */
}

.turn {
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 80vh;
    padding: 10px;
}
.turn p {
    padding-left: 2em;
    text-indent: -2em;
}

.tag_list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag {
    display: inline;
    color: #F5F0F0;
    background-color: #5E0000;
    border-style: solid;
    border-color: #D9C484;
    border-width: 1px 3px;
}

.description {
    padding: 0 !important;
    text-indent: 0 !important;
}

#turn4 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .turn {
        min-height: auto;
    }

    #conditions div {
        display: block;
    }
}